#arqInterior, h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 132%;
}

#arqInterior, p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 132%;
}

#arqServ, h2{
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 600;
    font-size: 48px;
    line-height: 132%;
    color: #815757;
}

#arqServ, h3{
    font-family: 'Poppins';
    font-size: 34px;
    color: black;
}

#texto, p{
    font-family: 'Poppins';
    font-size: 26px;
    color: black;
}



/* NAV BAR */

#nav1{
   
    border-top: 25px solid #ffffff;
    
}

#nav2{
    background-color: #fcf2e9
}

/*CONTAINER P1*/

#contBranco{
    background-color: #DDE1F4;;
    padding-bottom: 25px;
}

#roxo1{
    background-color: #DDE1F4;
    padding-bottom: 50px;
}

#roxo{
    background-color: #f1f3fb;
    padding-bottom: 100px;
}

#roxo3{
    background-color: #f1f3fb;
    padding-bottom: 100px;
}

#divisor{
    padding-top: 50px;
}

#imgp1, img-fluid{
    max-width: 90%;
}

#arqInterior{
    padding-left: 60px;
}





/* SOBRE MIM */

#sobre{
    padding-top: 60px;
}

#rosa{
    background-color: #fcf2e9
    ;
    padding-bottom: 50px;
}

#rosaservico{
    background-color: #FEFAF6
    ;
    padding-bottom: 50px;
}