#arqInterior, h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 132%;
}

#arqInterior, p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 132%;
}

#arqServ, h2{
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 600;
    font-size: 48px;
    line-height: 132%;
    color: #815757;
    padding-top: 20px;
}

#arqServ, h3{
    font-family: 'Poppins';
    font-size: 34px;
    color: black;
}


/* NAV BAR */

#nav1{
   
    border-top: 25px solid #ffffff;
    
}

#nav2{
    background-color: #F1E9DC
}

/*CONTAINER P1*/

#contBranco{
    background-color: #DDE1F4;;
    padding-bottom: 25px;
}

#divisor{
    padding-top: 50px;
}

/* SERVIÇOS */

#subtserv{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;
    color: #000000;
}

#rosa{
    background-color: #F6F3F3;
    padding-top: 50px;
}

#fundoserv01{
    background: white;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    padding-top: 10px;
}

#arqtexto{
    font-family: 'Poppins';
    font-style: sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;

    text-align: justify;
    letter-spacing: -0.02em;
    color: #5c5b5b;
}

/* FALE COM */

#falecom{
    background-color: #8F5555;
    padding-top: 63px;
    padding-bottom: 69px;
}

#fale, h1{

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: 0.08em;
    
    color: #FFFFFF;

}

#prazer{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    letter-spacing: 0.08em;

    color: #FFFFFF;
}

#contato{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: -0.02em;
}

#contato-nome, #contato-email {
    float: left;
    width: 100%;
    margin-bottom: 3vh;
    box-shadow: white 0px 3px;
    height: 5vh;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
}

#contato-mensagem {
    float: left;
    width: 100%;
    margin-bottom: 3vh;
    box-shadow: white 0px 3px;
    height: 20vh;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

#contato-enviar {
    align-items: center;
    background: #F1E9DC;
	color: #8F5555;
    border-radius: 15px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    height: auto;
    margin-top: 10px;
    max-height: 50px;
    max-width: 136px;
    font-family: 'Merriweather';
    margin-top: 1.7vh;
}

#emailma{
    padding-top: 59px;
    padding-bottom: 100px;
}

#siga{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    letter-spacing: -0.02em;
}

#logoSite{
    padding-bottom: 15px;
}

#serv1{
    height: 100px;
}

#vazio{
    height: 55px;
}